@font-face {
  font-family: "Roboto bold";
  /* Браузер сначала попробует найти шрифт локально */
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Roboto normal";
  /* Браузер сначала попробует найти шрифт локально */
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Petit Formal Script";
  /* Браузер сначала попробует найти шрифт локально */
    src: url("../fonts/Petit-Formal-Script/PetitFormalScript-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto normal";
}

html {
  background: linear-gradient(45deg, #78D9E2, #C6F1F5);;
}

html a {
  color: black;
  text-decoration: none;
}

#mainCanvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

#burger {
  display: none;
}

.main {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.grid12 {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}

nav {
  height: 112.5%;
  display: grid;
  grid-template-columns: 2fr 2fr 8fr;
  align-items: center;
}

header a {
  display: grid;
  font-family: "Petit Formal Script";
  font-weight: bolder;
  font-size: 2em;
  line-height: 1.1em;
  letter-spacing: -0.06em;
  -webkit-text-stroke: 1.5px;
}

nav>div>div>a {
  font-weight: bolder;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 1.2em;
  overflow: clip;
}

section>div>a {
  position: relative;
  top: 1.5em;
  padding: 0.5em;
  background: linear-gradient(90deg, rgba(255,191,134,1) 0%, rgba(255,229,206,1) 100%);
  font-weight: bold;
  border-radius: 0.3em;
}

h1 {
  font-family: "Roboto bold";
  font-size: 4em;
}

div.navPanel {
  display: flex;
  justify-content: space-between;
}

section {
  display: grid;
  align-items: center;
}

.mainImage {
  grid-column: 7/13;
  justify-content: center;
}

.mainImage>img {
  width: 25em;
  border-radius: 15em 2em 15em 2em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0.5em;
  display: inline;
}

footer img {
  width: 2em;
}